
img{
   opacity: 0.75;
     border-radius: 8px;
     border: 1px solid #ddd; 
     
     filter: blur(5px);
 
   
   }
   .responsive {
 
 width: 100%;
  max-width: 99%;
  height: auto;

  position: center;
  top: 10%;
  right: 0.1%;
bottom: 0.1%

}